body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f9f9;
    color: ;
}

header {
    text-align: center;
    background-color: #00bfbf; /* Turkuaz renk */
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.single {
    justify-content: center;
}

.language {
    flex: 1 1 30%;
    max-width: 200px;
    text-align: center;
}

.language-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 5px solid rgba(48, 213, 200, 0.8);
    border-radius: 10px;
    padding: 15px;
    height: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.language-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.language img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.language p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
    font-weight: normal;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
  text-align: center; 
}

.language-box a {
    text-decoration: none; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #009999; /* Daha koyu turkuaz */
    color: white;
    border-radius: 10px;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

nav .logo img {
    height: 40px;
    text-decoration: none;
}

nav .menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav .menu li {
    position: relative;
}

nav .menu li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
}

nav .menu li a:hover {
    color: #00ffff; /* Parlayan açık turkuaz */
    text-decoration: none;
}

nav .menu li ul {
    display: none;
    position: absolute;
    background-color: #007373; /* Menünün altı için daha koyu bir turkuaz */
    list-style: none;
    padding: 0.5rem;
    border-radius: 5px;
}

nav .menu li:hover ul {
    display: block;
}

nav .menu li ul li {
    margin: 0;
}

nav .menu li ul li a {
    color: white;
}

/* Mobil cihazlar için medya sorguları */
@media (max-width: 768px) {
    .languages {
        flex-direction: column;
        align-items: center;
    }

    .language {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
