body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f9f9;
            color: #333;
        }
        header {
            background-color: #00bfbf;
            color: white;
            padding: 15px;
            text-align: center;
            border-radius: 15px;
            margin: 5px; 
        }
        header h1 a {
            color: white;
            text-decoration: none;
        }
        header h1 a:hover {
            text-decoration: underline;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        h2 {
            color: #30d5c8;
            margin-bottom: 20px;
        }
        .stories {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            justify-items: center;
        }
      
      @media (max-width: 900px) { /* 900px ve altındaki ekranlar için */
    .stories {
        grid-template-columns: repeat(2, 1fr); /* 2 sütun */
    }
}

@media (max-width: 600px) { /* 600px ve altındaki ekranlar için (telefonlar) */
    .stories {
        grid-template-columns: 1fr; /* 1 sütun (alt alta) */
    }
}
        .story {
      		position: relative;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      		overflow: hidden;
        }
        .story h3 {
            margin-bottom: 10px;
            color: #30d5c8;
     
        }
        a {
            text-decoration: none;
            color: #333;
        }
        a:hover {
            color: #30d5c8;
        }
