body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #34495e; /* Darker navigation background color */
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #1a5276;
}

.languages {
    position: relative;
}

.languages-btn {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.submenu a {
    padding: 10px;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #1a5276;
}
